<div class="container mb-5">
  <h2 class="text-center text-uppercase my-4">contact section</h2>
  <div class="form">
    <input type="text" name="" id="" class="d-block" placeholder="Username">
    <input type="number" name="" id="" class="d-block" placeholder="User Age">
    <input type="email" name="" id="" class="d-block" placeholder="User Email">
    <input type="password" name="" id="" class="d-block" placeholder="User Passwrod">
    <button class="rounded text-white">Send Message</button>
  </div>
</div>
