<nav>
  <div class="container d-flex justify-content-between text-white text text-uppercase align-items-center p-3">
    <h1 class="text-uppercase"><a routerLink="">start framework</a></h1>

    <ul class="d-flex gap-3 align-items-center list-unstyled">
      <li><a class="d-block py-2 px-3 rounded" routerLink="about" routerLinkActive="bg-light text-dark">About</a></li>
      <li><a class="d-block py-2 px-3 rounded" routerLink="portfolio" routerLinkActive="bg-light text-dark">portfolio</a></li>
      <li><a class="d-block py-2 px-3 rounded" routerLink="contact" routerLinkActive="bg-light text-dark">contact</a></li>
    </ul>
  </div>
</nav>
